@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Montserrat&display=swap');

:root {
    --clr-primay: hsl(158, 36%, 37%);
    --clr-accent: hsl(30, 38%, 92%);
    --clr-dark-blue: hsl(212, 21%, 14%);
    --clr-grayish-blue: hsl(228, 12%, 48%);
    --clr-white: hsl(0, 0%, 100%)
}

* *::before *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 12px;
}
.attribution a { color: hsl(228, 45%, 44%); }

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1583591900414-7031eb309cb6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
}

.background_tile {
    margin-top: 20vh;
}

.container {
    width: 90vw;
    height: 60vh;
    background: var(--clr-accent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    background: var(--clr-white);
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.card__img img {
    width: 100%;
    border-radius: 5% 5% 0 0;
    background: url(images/image-product-mobile.jpg) left top no-repeat;
}

.card__img__mobile {
    display: block;
}

.card__img__desktop {
    display: none;
}

.card__content {
    padding: 1.125rem;
}

.card__content h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 500;
    letter-spacing: .5ch;
    padding: 0;
    margin: 0;
    color: var(--clr-dark-blue);
}

.card__content h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: xx-large;
    margin: .5em 0;
    color: var(--clr-dark-blue);
}

.card__content p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--clr-grayish-blue);
    justify-self: right;
}

.price {
    display: flex;
    justify-content: left;
}

.price h1 {
    color: var(--clr-primay);
}

.price h2 {
    align-self: center;
    margin-left: 1.5em;
    font-size: medium;
    color: var(--clr-grayish-blue);
    text-decoration: line-through;
}

.btn {
    color: var(--clr-white);
    text-align: center;
    padding: 1em;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn svg {
    display: inline-block;
    vertical-align: middle;
}

.btn span {
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
}

.btn-primary {
    background: var(--clr-primay);
}

.btn-primary:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

@media screen and (min-width: 400px) {
    .card {
        width: 550px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card__img__mobile {
        display: none;
    }
    
    .card__img__desktop {
        display: block;
    }

    .card__img img {
        border-radius: 5% 0 0 5%;
    }
}
